
.mainPage{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 1rem 2rem;
}

.textpage{
    padding: 0 1rem;
}

.textpage h2{
    /* text-align: center; */
    font-size: 3rem;
    margin: 0 auto;

}

.textpage h4{
    font-weight: 200;
    margin: 0 auto;
    /* text-align: center; */

}

.pagebutton{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 20% 0 0;
}

.pagebutton button{
    padding: 0.7rem 1rem;
    font-weight: 600;
    background-color: white;
    font-size: 1rem;
    color: #39c260;
    border: 2px solid #39c260;
    border-radius: 50px;
    cursor: pointer;
    /* display: block; */
    margin: 1rem ;
    
    
}

.pagebutton button:hover{
    color: black;
    border: 2px solid black;
}


@media screen and (max-width: 1026px) {
    .textpage2 img{
        width: 40vw;
    }
}

@media screen and (max-width: 800px) {
    .textpage h2{
        font-size: 2rem;
    
    }
    
    .textpage h4{
        font-weight: 200;
        margin: 0 auto;
        font-size: 0.75rem;
    }

    .pagebutton button{
        font-size: 0.75rem;

    }
    }

    @media screen and (max-width: 575px) {
        .textpage2 img{
            display: none;
        }

        .pagebutton{
            padding: 0;
        }

        .textpage h2, .textpage h4{
            text-align: center;
        }

        .textpage h4{
            margin-top: 1rem;
        }
    }

    @media screen and (max-width: 350px) {
        .textpage h2{
            font-size: 1.5rem;
        }

        .textpage h4{
            font-size: 0.5rem;
        }

        .pagebutton button{
            font-size: 0.5rem;
    
        }
    }